<div class="p-grid">
    <div class="p-col-12 p-md-6">
        <div class="card">
            <h5>Pessoa</h5>
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-md-12">
                    <label for="firstname1">Nome</label>
                    <input id="firstname1" type="text" [(ngModel)]="pessoa.nome" pInputText/>
                </div>
                <div class="p-field p-md-4">
                    <label for="lastname1">Telefone</label>
                    <p-inputMask id="lastname1" type="text" mask="(99) 9999-9999" [(ngModel)]="pessoa.telefone"></p-inputMask>
                </div>
                <div class="p-field p-md-4">
                    <label for="age1">Data de Nascimento</label>
                    <input id="age1" type="text" pInputText [(ngModel)]="pessoa.nascimento"/>
                </div>
                <div class="p-field p-md-4">
                    <label for="cep">Cep</label>
                    <p-inputMask id="cep" type="text" mask="99.999-999" [(ngModel)]="pessoa.cep" (onBlur)="consultarCep()"></p-inputMask>
                </div>
                <div class="p-field p-md-12">
                    <label for="endereco">Endereço</label>
                    <input id="endereco" type="text" pInputText [(ngModel)]="pessoa.endereco"/>
                </div>
                <div class="p-field  p-md-6">
                    <label for="bairro">Bairro</label>
                    <input id="bairro" type="text" pInputText [(ngModel)]="pessoa.bairro"/>
                </div>
                <div class="p-field  p-md-6">
                    <label for="cidade">Cidade/Estado</label>
                    <p-autoComplete id="cidade" [(ngModel)]="pessoa.municipio" [suggestions]="municipios" (completeMethod)="listarMunicipios($event)" ></p-autoComplete>
                </div>

            </div>
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-md-6">
                </div>
                <div class="p-field p-md-3">
                    <button pButton type="button" label="Salvar" (click)="btnSalvar()" ></button>
                </div> 
                <div class="p-field p-md-3">
                    <button pButton type="button" label="Fechar" [routerLink]="'/pessoa-list'" ></button>
                </div>                
            </div>
        </div>
    </div>
</div>