<div class="layout-sidebar" [ngStyle]="{'overflow':appMain.sidebarActive ? 'hidden' : 'visible'}"
                            [ngClass]="{'layout-sidebar-dark':app.darkMenu}" (click)="appMain.onSidebarClick($event)">
    <div class="layout-tabmenu">
        <ul class="layout-tabmenu-nav">
            <li [ngClass]="{'active-item':appMain.activeTabIndex === 0}">
                <a href="#" pRipple class="tabmenuitem-link" (click)="appMain.onTabClick($event, 0)"><i class="pi pi-fw pi-home"></i></a>
                <div class="layout-tabmenu-tooltip">
                    <div class="layout-tabmenu-tooltip-arrow"></div>
                    <div class="layout-tabmenu-tooltip-text">Features</div>
                </div>
            </li>
            <li [ngClass]="{'active-item':appMain.activeTabIndex === 4}">
                <a href="#" pRipple class="tabmenuitem-link" (click)="appMain.onTabClick($event, 4)"><i class="pi pi-user"></i></a>
                <div class="layout-tabmenu-tooltip">
                    <div class="layout-tabmenu-tooltip-arrow"></div>
                    <div class="layout-tabmenu-tooltip-text">Team</div>
                </div>
            </li>
        </ul>
        <div class="layout-tabmenu-contents">
            <div class="layout-tabmenu-content" [ngClass]="{'layout-tabmenu-content-active': appMain.activeTabIndex === 0}">
                <div class="layout-submenu-title clearfix">
                    <span>Features</span>
                    <a href="#" class="menu-button pi pi-bars" (click)="appMain.closeSidebar($event)"></a>
                </div>
                <app-sidebarTabContent>
                    <app-menu></app-menu>
                </app-sidebarTabContent>
            </div>
            <div class="layout-tabmenu-content" [ngClass]="{'layout-tabmenu-content-active': appMain.activeTabIndex === 4}">
                <div class="layout-submenu-title clearfix">
                    <span>Team</span>
                    <a href="#" class="menu-button pi pi-bars" (click)="appMain.closeSidebar($event)"></a>
                </div>
                <app-sidebarTabContent>
                    <div class="team-tab">
                        <ul>
                            <li class="clearfix">
                                <img src="assets/layout/images/avatar1.png" alt="" width="45">
                                <span class="name">Joshua Williams</span>
                                <span class="location">New York, USA</span>
                            </li>
                            <li class="clearfix">
                                <img src="assets/layout/images/avatar2.png" alt="" width="45">
                                <span class="name">Jennifer Clarkson</span>
                                <span class="location">Paris, France</span>
                            </li>
                            <li class="clearfix">
                                <img src="assets/layout/images/avatar3.png" alt="" width="45">
                                <span class="name">Tim Johnson</span>
                                <span class="location">London, United Kingdom</span>
                            </li>
                            <li class="clearfix">
                                <img src="assets/layout/images/avatar4.png" alt="" width="45">
                                <span class="name">David Stark</span>
                                <span class="location">San Francisco, USA</span>
                            </li>
                        </ul>
                    </div>
                </app-sidebarTabContent>
            </div>
        </div>
    </div>
</div>
