<p-table [value]="pessoas" responsiveLayout="scroll" 
selectionMode="single" 
(onRowSelect)="onRowSelect($event)" dataKey="id">
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Data de Nascimento</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa>
            <tr>
                <td>{{pessoa.nome}}</td>
                <td>{{pessoa.telefone}}</td>
                <td>{{pessoa.nascimento}}</td>
                <td>
                        <button type="button" pButton pRipple icon="pi pi-search" (click)="selectPessoa(pessoa)"></button>
                    </td>                
            </tr>
        </ng-template>
    </p-table>

<button pButton type="button" label="Nova" (click)="btnNova();" ></button>